/*  Color palette */

/* 
dark-green: #03490B;
light-grey: #E3E1D2;  
light-green: #A3CDA2;
yellow:  #EDBE07;
main-green:  #4DA956;
dark-green1:  #477338;
light-green1: #71C984;
*/


/*  General style */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Fira Sans Condensed', sans-serif;
}



/*  Header */

header {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
  list-style: none;
  font-size: 1.4rem;
}

.nav-list li {
  padding: 0.8rem;
}

.nav-list a {
  text-decoration: none;
  text-transform: uppercase;
  color: #477338;
  font-weight: 500;
}

.nav-list a:active,
.nav-list a:hover {
  border-bottom: 2px solid #03490B;
  color: #03490B;
}



/*  Section Main */

#main {
  display: flex;
  align-items: center;
}

#main .section-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3.8rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: #03490B;
  font-weight: 900;
}

#main .section__subtitle {
  text-align: center;
  padding: 2rem;
  font-size: 1.8rem;
  color: #477338;
}

#main .section__btn {
  float: right;
  margin-right: 2.5rem;
  background-color: #E3E1D2;
  padding: 0.8rem;
  font-size: 1.4rem;
  border-radius: 1.2rem;
  text-transform: uppercase;
  color: #03490B;
  font-weight: 700;
  border: none;
  width: 13vw;
}

#main .section__btn:active,
#main .section__btn:hover {
  cursor: pointer;
  color: #ffffff;
  background: #477338;
}

#main .section__btn:focus {
  outline: none;
  border: none;
}

#main .section-img img {
  margin: 2rem;
  border-radius: 2rem;
  width: 45vw;
  height: 40vh;
}



/*  Section About Us */

#aboutUs {
  background: linear-gradient(135deg, rgba(146, 255, 191, 0.5), rgba(0, 38, 97, 0.3)), url('../img/aboutUs.jpg') no-repeat center/cover;
  height: 50vh;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#aboutUs .title {
  font-size: 3rem;
  text-transform: uppercase;
  color: #03490B;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}

#aboutUs .section__subtitle {
  font-size: 1.8rem;
  margin-top: 3rem;
  padding: 1rem;
}

/*  Section Product */

#products .product-title {
  font-size: 3rem;
  color: #477338;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
  letter-spacing: 2px;
}

.product-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-top: 4rem;
}

.product-item {
  text-align: center;
  padding: 1rem 3rem;
}

.product-item .product-item__title {
  font-size: 2rem;
  color: #477338;
  margin-bottom: 1rem;
}

.product-item img {
  height: 20vh;
}

.product-item .product-item_description {
  font-size: 1.6rem;
  color: #03490B;
  margin-top: 1.6rem;
}

/*  Media */

@media(max-width: 40rem) {
  header img {
    display: none;
  }

  nav {
    margin: 0 auto;
    text-align: center;
  }

  .nav-list {
    flex-direction: column;
  }

  #main {
    flex-direction: column;
  }

  #main .main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #main .section-title {
    margin: 2rem 0;
    font-size: 2.8rem;
    letter-spacing: 2px;
  }

  #main .section__btn {
    margin: 0 auto;
    width: 80vw;
    cursor: pointer;
  }

  #main .section-img img {
    width: 88vw;
    border-radius: 1rem;
  }

  #aboutUs .title {
    font-size: 2.2rem;
    margin-bottom: 0;
  }

  #aboutUs .section__subtitle {
    margin-top: 3rem;
    font-size: 1.6rem;
  }

  #products .product-items {
    flex-direction: column;
  }
}