/*  Color palette */

/* 
dark-green: #03490B;
light-grey: #E3E1D2;  
light-green: #A3CDA2;
yellow:  #EDBE07;
main-green:  #4DA956;
dark-green1:  #477338;
light-green1: #71C984;
*/


/*  General style */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Fira Sans Condensed', sans-serif;
}



/*  Header */

header {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
  list-style: none;
  font-size: 1.4rem;
}

.nav-list li {
  padding: 0.8rem;
}

.nav-list a {
  text-decoration: none;
  text-transform: uppercase;
  color: #477338;
  font-weight: 500;
}

.nav-list a:active,
.nav-list a:hover {
  border-bottom: 2px solid #03490B;
  color: #03490B;
}



/*  Section Main */

#main {
  display: flex;
  align-items: center;
}

#main .section-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3.8rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: #03490B;
  font-weight: 900;
}

#main .section__subtitle {
  text-align: center;
  padding: 2rem;
  font-size: 1.8rem;
  color: #477338;
}

#main .section__btn {
  float: right;
  margin-right: 2.5rem;
  background-color: #E3E1D2;
  padding: 0.8rem;
  font-size: 1.4rem;
  border-radius: 1.2rem;
  text-transform: uppercase;
  color: #03490B;
  font-weight: 700;
  border: none;
  width: 13vw;
}

#main .section__btn:active,
#main .section__btn:hover {
  cursor: pointer;
  color: #ffffff;
  background: #477338;
}

#main .section__btn:focus {
  outline: none;
  border: none;
}

#main .section-img img {
  margin: 2rem;
  border-radius: 2rem;
  width: 45vw;
  height: 40vh;
}



/*  Section About Us */

#aboutUs {
  background: linear-gradient(135deg, rgba(146, 255, 191, 0.5), rgba(0, 38, 97, 0.3)), url('../img/aboutUs.jpg') no-repeat center/cover;
  height: 50vh;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#aboutUs .title {
  font-size: 3rem;
  text-transform: uppercase;
  color: #03490B;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}

#aboutUs .section__subtitle {
  font-size: 1.8rem;
  margin-top: 3rem;
  padding: 1rem;
}



/*  Section Product */

#products .product-title {
  font-size: 3rem;
  color: #477338;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
  letter-spacing: 2px;
}

.product-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-top: 4rem;
}

.product-item {
  text-align: center;
  padding: 1rem 3rem;
}

.product-item .product-item__title {
  font-size: 2rem;
  color: #477338;
  margin-bottom: 1rem;
}

.product-item img {
  height: 20vh;
}

.product-item .product-item_description {
  font-size: 1.6rem;
  color: #03490B;
  margin-top: 1.6rem;
}




/* Section  Brands */

#brands {
  margin-top: 4rem;
}

#brands .brands-title {
  font-size: 3rem;
  color: #03490B;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#brands .brands-withUs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#brands .brand {
  padding: 2rem;
}

#brands .brand img {
  width: 20vw;
  border: #477338 2px solid;
  border-radius: 2rem;
  height: 15vh;
}

#brands .brand img:active,
#brands .brand img:hover {
  cursor: pointer;
  box-shadow: #03490B 1px 1px 2px 1px;
}

#brands .brand p {
  text-align: center;
  padding: 1rem;
  font-size: 1.6rem;
  color: #477338;
}

#brands .brand p:active,
#brands .brand p:hover {
  color: #03490B;
}



/*  Section Where */

#where .where-title {
  font-size: 3rem;
  text-align: center;
  margin-top: 4rem;
  color: #03490B;
  text-transform: uppercase;
  letter-spacing: 2px;

}

.border {
  border-bottom: #03490B solid 3px;
  width: 23vw;
  margin: 0 auto;
  margin-bottom: 3rem;
}

#where .where {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.where__info {
  text-align: center;
  margin: auto;
}

.where__info .where-description__city {
  font-size: 2rem;
  color: #477338;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.where__info .where-description__city:active,
.where__info .where-description__city:hover {
  color: #03490B;
}

.where__info .where-description__phone {
  font-size: 1.8rem;
  color: #477338;
  margin-bottom: 2rem;
  font-weight: 600;
}

.where__info .where-description__phone:active,
.where__info .where-description__phone:hover {
  color: #03490B;
}

.where__info .where-description__mail {
  color: #477338;
  font-size: 1.8rem;
  margin-top: 2rem;
}

.where__info .where-description__mail:active,
.where__info .where-description__mail:hover {
  color: #03490B;
}

.where-map {
  margin: 3.6rem;
}

.where-map .where-map__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  color: #477338;
  margin-bottom: 1rem;
}

.where-map img {
  height: 30vh;
  margin: 0 auto;
}

/*  Section footer */

#contactUs {
  background: linear-gradient(30deg, rgba(168, 236, 204, 1) 0%, rgba(6, 201, 127, 1) 100%);
}

#contactUs .contact {
  list-style: none;
  display: flex;
  justify-content: center;
}

#contactUs .contact-links {
  margin: 1rem;
}

#contactUs .contact__link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #03490B;
  padding: 0.5rem;
}

#contactUs .contact__link:active,
#contactUs .contact__link:hover {
  font-weight: 500;
}

.design {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: #03490B;
  margin-top: 1rem;
}

.design:active,
.design:hover {
  color: black;
}


/* ------------ */


/* Media MAX-Width  40 Rem */

@media(max-width: 40rem) {
  header img {
    display: none;
  }

  nav {
    margin: 0 auto;
    text-align: center;
  }

  .nav-list {
    flex-direction: column;
  }

  #main {
    flex-direction: column;
  }

  #main .main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #main .section-title {
    margin: 2rem 0;
    font-size: 2.8rem;
    letter-spacing: 2px;
  }

  #main .section__btn {
    margin: 0 auto;
    width: 80vw;
    cursor: pointer;
  }

  #main .section-img img {
    width: 88vw;
    border-radius: 1rem;
  }

  #aboutUs .title {
    font-size: 2.8rem;
    margin-bottom: 0;
  }

  #aboutUs .section__subtitle {
    margin-top: 3rem;
    font-size: 1.6rem;
  }

  #products .product-items {
    flex-direction: column;
  }

  #products .product-title {
    font-size: 2.5rem;
  }

  .where {
    flex-direction: column;
    align-items: flex-start;
  }

  #where .where-title {
    font-size: 2.5rem;
  }

  .where-title {
    margin-bottom: 2rem;
  }

  .border {
    display: none;
  }

  .where-map img {
    width: 85vw;
  }

  .brands-withUs {
    flex-direction: column;
  }

  #brands .brands-title {
    font-size: 2.5rem;
  }

  #brands .brand img {
    width: 50vw;
  }

  #contactUs .contact {
    flex-direction: column;
    align-items: center;
  }

  #contactUs .contact__link {
    padding: 0;
    margin: 0.5rem;
  }
}


/* ------------ */


/* Media MAX-Width  70 Rem */
@media(max-width: 70rem) {

  #main .section-img img {
    height: 22vh;
  }

  #main .section__btn {
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 1rem;
  }

  .product-item img {
    height: 10vh;
    width: 15vw;
  }


  #brands .brands-title {
    font-size: 2.8rem;
  }

  #brands .brands-withUs {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  #brands .brand img {
    width: 45vw;
    height: 20vh;
  }

  #where .where-title {
    font-size: 2.8rem;
  }

  .where-map img {
    height: 20vh;
  }
}